{% extends 'base/base.html' %}
{% load cost %}

{% block title %}Home{% endblock %}

{% block container %}
<div class="container">
  {% if not request.user.is_authenticated %}
    <div class="jumbotron bg-dark text-light text-center my-3">
      <h1 class="display-3 lobster">Welcome to Master PC</h1>
      <!-- <p class="lead">Jumbo helper text</p> -->
      <hr class="my-2">
      <p>Are you ready?</p>
      <p class="lead">
        <a class="btn btn-outline-light" href="{% url 'login' %}" role="button">Get Started</a>
      </p>
    </div>

  {% else %}
    <div class="row">
      <div class="col-sm-12 col-lg-6">
      
        <h4 class="text-light my-4"> <i class="fas fa-desktop"></i> Mis PCs
          <a href="{% url 'create_pc' %}" class="btn btn-outline-warning btn-sm float-right rounded-pill px-3">
            <i class="fas fa-plus"></i> Agregar
          </a>
        </h4>

        {% if pcs %}
          {% for pc in pcs %}
          <div class="card bg-warning my-3 shadow">
            <div class="card-body py-2">
              <h5><a href="{% url 'detail_pc' pc.id %}" class="text-dark">{{pc.name}}</a>
                <button class="btn btn-warning btn-sm rounded-circle float-right" type="button" data-toggle="collapse"
                  data-target="#collapse_{{pc.id}}" aria-expanded="false" aria-controls="collapse_{{pc.id}}">
                  <i class="fas fa-angle-down fa-lg"></i>
                </button>
              </h5>
              <div class="collapse" id="collapse_{{pc.id}}">
                <p class="text-truncate mb-0 small">
                  <b>CPU:</b> {{pc.cpu.first.cpu}} <br>
                  <b>GPU:</b> {{pc.gpu.first.gpu}} <br>
                  <b>Board:</b> {{pc.board.first.board}}<br>
                  <b>RAM:</b> {{pc.ram.first.ram}} <br>
                  <b>PSU:</b> {{pc.psu.first.psu}} <br>
                  <b>Case:</b> {{pc.case.first.case}} <br>
                  <b>Storage:</b> 
                  {% if pc.storage.count > 1 %}
                    <ul class="small">
                      {% for s in pc.storage.all %}
                        <li>{{s.storage}}</li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    {{pc.storage.first.storage}} <br>
                  {% endif %}
                </p>
                <div class="text-right">
                  <a href="{% url 'update_pc' pc.id %}" class="btn btn-outline-dark rounded-pill btn-sm px-3">
                    <i class="far fa-edit"></i> Edit
                  </a>
                  <a href="{% url 'delete_pc' pc.id %}" class="btn btn-outline-dark rounded-pill btn-sm px-3">
                    <i class="far fa-trash-alt"></i> Delete
                  </a>
                </div>

              </div>
        
            </div>
            <div class="card-footer py-1 text-center">
              <span class="m-2">Presupuesto:
                <span> {% if pc.budget %}  $ {{pc.budget}}  {% else  %} <i class="far fa-question-circle"></i> {% endif %} </span>
              </span>
              <span class="m-2 font-weight-bold text-nowrap">Costo: $ {{ pc|cost }}</span>
            </div>
          </div>
          
          {% endfor %}

        {% else %}
          <div class="text-center text-light">Don't create a PC yet</div>
        {% endif %}
      </div>
      <div class="col-sm-12 offset-lg-1 col-lg-5">
        <div class="my-3">
          <h5 class="text-center text-warning">Compare PCs</h5>
          {% if pcs.count >= 2 %}
          <form action="{% url 'compare_pc' %}" method="GET">
            <div class="form-group">
              <select name="pc1" id="pc1" class="form-control" required>
                <option value="" selected disabled>Select the first PC</option>
                {% for pc in pcs %}
                  <option value="{{pc.id}}">{{pc.name}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <select name="pc2" id="pc2" class="form-control" required>
                <option value="" selected disabled>Select the second PC</option>
                {% for pc in pcs %}
                  <option value="{{pc.id}}">{{pc.name}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-warning rounded-pill px-3">
                <i class="fas fa-fist-raised fa-rotate-90"></i> 
                Compare 
                <i class="fas fa-fist-raised fa-rotate-270"></i>
              </button>
            </div>
          </form>
          {% else %}
            <p class="text-center text-muted">
              You must have at least 2 PCs to use this tool.
            </p>
          {% endif %}
          
        </div>
      </div>
    </div>
        
  {% endif %}
</div>

{% endblock %}
