{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %} • MasterPC</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/fontawesome.js' %}"></script>
</head>
<body class="bg-dark-1">
    {% block navbar %}
        {% include 'base/navbar.html' %}
    {% endblock %}
    
    <main>
        {% block container %}
            <h6>Loading...</h6>
        {% endblock %}
    </main>
    
    {% block footer %}
        {% include 'base/footer.html' %}
    {% endblock %}

    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block script %}{% endblock %}
</body>
</html>