body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
}

.bg-black { background-color: black; }
.bg-dark-1 { background-color: #202125; }
.bg-dark-2 { background-color: #2d2e32; }
.bg-light-1 { background-color: #dbddd9; }

@font-face {
  font-family: 'LobsterTwo';
  src: URL('../fonts/LobsterTwo-Regular.ttf') format('truetype');
}
.lobster { font-family: 'LobsterTwo' !important; }

.img-store { width: 40px; border-radius: 5px; }

.img-list { height: 120px; }
.list-card-title { font-size: 22px; font-weight: bold; }
.list-card-price { font-size: 19px; }
.list-button {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.pc-name { font-size: 25px; }

@media only screen and (max-width: 600px) {
	.img-list { height: 100px; }
	.list-card-title { font-size: 16px; }
	.list-card-price { font-size: 14px; }
	.pc-name { font-size: 20px; }

	
}